@media screen and (max-width: 520px) {
    .background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #191919;
        box-shadow: 2px 2px 50px rgb(46, 46, 46);
      }
}